hr {
    border-bottom: 1px solid;
    width: 70%;
}

.nav-icon {
    position: absolute !important;
    right: 13vw !important;
    top: 4vh;
    border: 1px solid #ffffff;
    font-size: 0.8rem !important;    
}

ion-segment {
    --background        : var(--ion-color-primary);
    ion-segment-button {
        font-size: 0.8rem;
        font-weight: 600;
        --indicator-color   : var(--ion-color-success);
        --color-checked     : #ffffff;
    }
}