.nav-icon {
    position: absolute !important;
    right: 13vw !important;
    top: 4.5vh;
    border: 1px solid #ffffff;
    font-size: 0.8rem !important;    
}

.ion-margin-right {
    margin-right: 12vw;
}