<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
      <ion-menu-button autoHide="false" *ngIf="user.userType=='beneficiary'"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-left">View Prescription</ion-title>
    <ion-buttons slot="end" *ngIf="user.userType=='beneficiary'">            
      <ion-icon routerLink="/menu/dashboard-beneficiary" routerDirection="root" class="ion-margin-end nav-icon" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customPage">
  <div class="customContent ion-padding">   
    <br>
    
    <div class="accordion-card" *ngIf="prescriptionList">
      <ion-card *ngFor="let item of prescriptionList;let i = index;">
        <ion-card-header>
          <ion-card-subtitle>{{ item.prescription_datetime | datetime }}</ion-card-subtitle>
          <ion-card-title>{{ item.prescription }}</ion-card-title>
        </ion-card-header>      
      </ion-card>
    </div>

    <div *ngIf="!prescriptionList">
      <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
      </div>
    </div>

  </div>
</ion-content>