<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-title class="ion-text-left">Add Glucose</ion-title>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-icon class="ion-margin-end nav-icon" name="eye" (click)="viewGlucose()"></ion-icon>
      <ion-icon routerLink="/menu/dashboard-beneficiary" routerDirection="root" class="ion-margin-end nav-icon" name="home" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customPage">
  <div class="customContent ion-padding">   
    <br>

    <form [formGroup]="glucoseForm" (ngSubmit)="glucoseFormUpdate()">

      <ion-list class="squareBox">
        <ion-item>
          <ion-input type="number" formControlName="glucoseValue" required></ion-input>
        </ion-item>
        <p>mg/dL</p>
      </ion-list>

      <br>

      <ion-item>
        <ion-label color="dark" position="floating">Date <span class="danger">*</span>
        </ion-label>
        <ion-datetime displayFormat="DDD, DD MMM YYYY" formControlName="test_date" required></ion-datetime>
      </ion-item>                  
      <span 
      class="errorMessage" text-wrap 
      *ngIf="formControlsGlucose.test_date.invalid && (formControlsGlucose.test_date.dirty || formControlsGlucose.test_date.touched)"
      >
        Enter a valid date
      </span>

      <br>

      <ion-item>
        <ion-label color="dark" position="floating">Time <span class="danger">*</span> 
        </ion-label>
        <ion-datetime displayFormat="hh:mm A" formControlName="time" required></ion-datetime>
      </ion-item>
      <span 
      class="errorMessage" text-wrap 
      *ngIf="formControlsGlucose.time.invalid && (formControlsGlucose.time.dirty || formControlsGlucose.time.touched)"
      >
        Enter a valid time
      </span>

      <br>

      <ion-item>
        <ion-label color="dark" position="floating">Period <span class="danger">*</span>
        </ion-label>
        <ion-select formControlName="period" required>
          <ng-container *ngIf="period.length>0">
            <ion-select-option *ngFor="let option of period" [value]="option.glucose_range_id">{{option.glucose_period}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>            
      <span 
      class="errorMessage" text-wrap 
      *ngIf="formControlsGlucose.period.invalid && (formControlsGlucose.period.dirty || formControlsGlucose.period.touched)"
      >
        Select a period
      </span>

      <br>

      <ion-item>
        <ion-label color="dark" position="floating">Tested by <span class="danger">*</span>
        </ion-label>
        <ion-select interface="popover" formControlName="entered_by" required [(ngModel)]="entered_by">
          <ion-select-option value="self">By myself</ion-select-option>
          <ion-select-option value="others">Others</ion-select-option>
        </ion-select>
      </ion-item>                  
      <span 
      class="errorMessage" text-wrap 
      *ngIf="formControlsGlucose.entered_by.invalid && (formControlsGlucose.entered_by.dirty || formControlsGlucose.entered_by.touched)"
      >
      select the option who took the glucose reading
      </span>

      <br>

      <ion-item [style.visibility]="(entered_by&&entered_by=='others')?'visible':'hidden'">
        <ion-label color="dark" position="floating">Centre Name <span class="danger">*</span>  
        </ion-label>
        <ion-input type="text" formControlName="entered_name" required></ion-input>
      </ion-item>                
      <span [style.visibility]="(entered_by&&entered_by=='others')?'visible':'hidden'"
      class="errorMessage" text-wrap 
      *ngIf="formControlsGlucose.entered_name.invalid && (formControlsGlucose.entered_name.dirty || formControlsGlucose.entered_name.touched)"
      >
      Enter the center name where you took the glucose reading
      </span>

      <br>

      <ion-row center>  
        <ion-col class="ion-text-center">   
          <ion-button ion-button type="submit" [disabled]="!glucoseForm.valid" >SUBMIT</ion-button>  
        </ion-col> 
      </ion-row>

    </form>

  </div>
</ion-content>
