<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">Signup</ion-title>
    <ion-buttons slot="end" *ngIf="myForm">
      <ion-button (click)="showForm()" fill="outline">
        {{myForm | titlecase}}
      </ion-button>
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customPage">
  <div class="customContent ion-padding">   
    <br>
    <!------------------------------PHYSICIAN REGISTRION------------------------->

    <div *ngIf="myForm == 'doctor'">
      <form [formGroup]="doctorForm" (ngSubmit)="doctorRegistration()">

        <ion-item>
          <ion-label color="dark" position="floating">Full Name <span class="danger">*</span>            
            <span class="errorMessage" *ngIf="formControlsDoctor.doctor_full_name.invalid && (formControlsDoctor.doctor_full_name.dirty || formControlsDoctor.doctor_full_name.touched)">
              Enter a valid name
            </span>
          </ion-label>
          <ion-input type="text" formControlName="doctor_full_name" required></ion-input>
        </ion-item>

        <br>

        <ion-item class="leftPadding">
          <ion-label color="dark" position="floating">Gender 
            <span class="danger">*</span>
          </ion-label>
          <ion-select interface="popover" formControlName="doctor_gender" required>
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Phone (+91) <span class="danger">*</span>            
            <span class="errorMessage" *ngIf="formControlsDoctor.doctor_phone.invalid && (formControlsDoctor.doctor_phone.dirty || formControlsDoctor.doctor_phone.touched)">
              Enter a valid phone e.g: 9988774455
            </span>
          </ion-label>
          <ion-input type="number" formControlName="doctor_phone" required></ion-input>
        </ion-item>
    
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Designation <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="doctor_designation" required></ion-input>
        </ion-item>

        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Hospital <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="doctor_hospital" required></ion-input>
        </ion-item>

        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Address Line 1 <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="address_line_1" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Address Line 2</ion-label>
          <ion-input type="text" formControlName="address_line_2"></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">State <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="state_name" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">District <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="district_name" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Country <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="country" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Username <span class="danger">*</span>            
            <span class="errorMessage"  *ngIf="formControlsDoctor.doctor_login_id.invalid && (formControlsDoctor.doctor_login_id.dirty || formControlsDoctor.doctor_login_id.touched)">
              A unique ID for login. Cannot contain special characters
            </span>
          </ion-label>
          <ion-input type="text" formControlName="doctor_login_id" ></ion-input>
        </ion-item>

        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Password <span class="danger">*</span>            
            <span class="errorMessage"  *ngIf="formControlsDoctor.doctor_password.invalid && (formControlsDoctor.doctor_password.dirty || formControlsDoctor.doctor_password.touched)">
              Minimum 8 characters required.
            </span>
          </ion-label>
          <ion-input [type]="showPasswordText?'text':'password'" formControlName="doctor_password" required></ion-input>
          <ion-icon slot="end" class="nav_icon passwordEye cursor-pointer" [name]="showPasswordText?'eye':'eye-off'" color="primary" item-right (tap)="showPasswordText = !showPasswordText"></ion-icon>
        </ion-item>

        <br>

        <ion-row center>  
          <ion-col class="ion-text-center">   
            <ion-button ion-button type="submit" [disabled]="!doctorForm.valid" >SUBMIT</ion-button>  
          </ion-col> 
        </ion-row>

      </form>
    </div>

    <!------------------------------BENEFICIARY REGISTRION  ------------------------->

    <div *ngIf="myForm == 'beneficiary'">

      <form [formGroup]="beneficiaryForm" (ngSubmit)="benefiaryRegistration()">

        <ion-item>
          <ion-label color="dark" position="floating">Full Name <span class="danger">*</span>
          </ion-label>
          <ion-input type="text" formControlName="beneficiary_name" required></ion-input>
        </ion-item>            
        <span class="errorMessage" *ngIf="formControls.beneficiary_name.invalid && (formControls.beneficiary_name.dirty || formControls.beneficiary_name.touched)">
          Enter a valid name
        </span>

        <br>

        <ion-item class="leftPadding">
          <ion-label color="dark" position="floating">Gender 
            <span class="danger">*</span>
          </ion-label>
          <ion-select interface="popover" formControlName="beneficiary_gender" required>
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="other">Transgender</ion-select-option>
          </ion-select>
        </ion-item>

        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Phone (+91) <span class="danger">*</span>
          </ion-label>
          <ion-input type="number" formControlName="beneficiary_phone" required></ion-input>
        </ion-item>            
        <span class="errorMessage" *ngIf="formControls.beneficiary_phone.invalid && (formControls.beneficiary_phone.dirty || formControls.beneficiary_phone.touched)">
          Enter a valid phone e.g: 9988774455
        </span>
    
        <br>

        <ion-item class="leftPadding">
          <ion-label color="dark" position="floating">Date of Birth <span class="danger">*</span></ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" formControlName="beneficiary_dob" required></ion-datetime>
        </ion-item>

        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Height (Cms) <span class="danger">*</span></ion-label>
          <ion-input type="number" formControlName="beneficiary_height" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Weight (Kg) <span class="danger">*</span></ion-label>
          <ion-input type="number" formControlName="beneficiary_weight" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Address Line 1 <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="address_line_1" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Address Line 2</ion-label>
          <ion-input type="text" formControlName="address_line_2"></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">State <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="state_name" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">District <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="district_name" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Country <span class="danger">*</span></ion-label>
          <ion-input type="text" formControlName="country" required></ion-input>
        </ion-item>
 
        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Username <span class="danger">*</span>
          </ion-label>
          <ion-input type="text" formControlName="beneficiary_login_id" ></ion-input>
        </ion-item>            
        <span class="errorMessage"  *ngIf="formControls.beneficiary_login_id.invalid && (formControls.beneficiary_login_id.dirty || formControls.beneficiary_login_id.touched)">
          A unique ID for login. Cannot contain special characters
        </span>

        <br>

        <ion-item>
          <ion-label color="dark" position="floating">Password <span class="danger">*</span>
          </ion-label>
          <ion-input [type]="showBeneficiaryPasswordText?'text':'password'" formControlName="beneficiary_password" required></ion-input>
          <ion-icon slot="end" class="passwordEye" [name]="showBeneficiaryPasswordText?'eye':'eye-off'" color="primary" item-right (tap)="showBeneficiaryPasswordText = !showBeneficiaryPasswordText"></ion-icon>
        </ion-item>            
        <span class="errorMessage"  *ngIf="formControls.beneficiary_password.invalid && (formControls.beneficiary_password.dirty || formControls.beneficiary_password.touched)">
          Minimum 8 characters required.
        </span>

        <br>

        <ion-row center>  
          <ion-col class="ion-text-center">   
            <ion-button type="submit" [disabled]="!beneficiaryForm.valid" >SUBMIT</ion-button>  
          </ion-col> 
        </ion-row>

      </form>

    </div>

  </div>
</ion-content>
