<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-title class="ion-text-left">Add Insulin</ion-title>
    </ion-buttons>
    <ion-buttons slot="end" >            
      <ion-icon class="ion-margin-end nav-icon" name="eye" (click)="viewInsulin()"></ion-icon>
      <ion-icon routerLink="/menu/dashboard-beneficiary" routerDirection="root" class="ion-margin-end nav-icon" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customPage">
  <div class="customContent ion-padding">   
    <br>
    
    <form [formGroup]="insulinForm" (ngSubmit)="insulinFormUpdate()">

      <ion-item>
        <ion-label color="dark" position="floating">Date <span class="danger">*</span>
        </ion-label>
        <ion-datetime (ionChange)="getTodaysTotalInsulin()" displayFormat="DDD, DD MMM YYYY" formControlName="insulin_date" max="{{maxDate}}" required></ion-datetime>
      </ion-item>                  
      <span 
      class="errorMessage" text-wrap 
      *ngIf="formControlsInsulin.insulin_date.invalid && (formControlsInsulin.insulin_date.dirty || formControlsInsulin.insulin_date.touched)"
      >
        Enter a valid date
      </span>

      <br>

      <ion-item>
        <ion-label color="dark" position="floating">Time <span class="danger">*</span> 
        </ion-label>
        <ion-datetime (ionChange)="getTodaysTotalInsulin()" displayFormat="hh:mm A" formControlName="insulin_time" required></ion-datetime>
      </ion-item>
      <span 
      class="errorMessage" text-wrap 
      *ngIf="formControlsInsulin.insulin_time.invalid && (formControlsInsulin.insulin_time.dirty || formControlsInsulin.insulin_time.touched)"
      >
        Enter a valid time
      </span>

      <br>

      <ion-item>
        <ion-label color="dark" position="floating">Period <span class="danger">*</span>
        </ion-label>
        <ion-select formControlName="insulin_range_id" required>
          <ng-container *ngIf="period.length>0">
            <ion-select-option *ngFor="let option of period" [value]="option.insulin_range_id">{{option.insulin_period}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>            
      <span 
      class="errorMessage" text-wrap 
      *ngIf="formControlsInsulin.insulin_range_id.invalid && (formControlsInsulin.insulin_range_id.dirty || formControlsInsulin.insulin_range_id.touched)"
      >
        Select a period
      </span>

      <br>

      <div formArrayName="insulin_units">
        <ion-grid inset class="insulin-row" *ngFor="let phone of insulinUnitForms.controls; let i = index" [formGroupName]="i">
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label color="dark" position="floating">Insulin <span class="danger">*</span> </ion-label>
                <ion-select class="full-width" formControlName="insulin_type_id" required>
                  <ng-container *ngIf="types.length>0">
                    <ion-select-option *ngFor="let type of types" [value]="type.insulin_type_id">{{type.insulin_type}}</ion-select-option>
                  </ng-container>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item> 
                <ion-label color="dark" position="floating">Units <span class="danger">*</span> </ion-label>
                <ion-input type="number" formControlName="insulin_unit_value" value="" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="2" *ngIf="i>0" >
              <ion-icon name="remove-circle" color="danger" size="large" (click)="deleteInsulinForm(i)"></ion-icon>
            </ion-col>
            <ion-col size="2" *ngIf="i==0" class="ion-margin-vertical">
              <ion-icon name="add-circle" color="primary" size="large" (click)="addInsulinForm()"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>          
      </div> 

      <br>

      <ion-row center>  
        <ion-col class="ion-text-center">   
          <ion-button ion-button type="submit" [disabled]="!insulinForm.valid" >SUBMIT</ion-button>  
        </ion-col> 
      </ion-row>

    </form>
    
    <ion-row center *ngIf="total_insulin>0" class="total-insulin ">  
      <ion-col size="12" class="ion-text-center">   
        Total insulin for the day: &nbsp;         
        <ion-text color="primary">{{total_insulin}}</ion-text>  
      </ion-col> 
    </ion-row>

  </div>
</ion-content>