ion-card, ion-item, ion-list {
    --background: #ffffff;
}

ion-badge {
    float: right;
    width: 8vw;
    height: 6vw;
}

.notes {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
}