<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left ion-text-wrap">Insulin suggestion</ion-title>
    <ion-buttons slot="end" >
      <ion-icon name="close-circle" size="large" (click)="dismissModal()"></ion-icon>
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customPage">
  <div class="customContent ion-padding">

    <ng-container *ngIf="suggestions.length>0">    
      <ion-card *ngFor="let suggestion of suggestions; let index=i;">
        <ion-card-header>
          <ion-card-subtitle>{{suggestion.suggestion_date}}</ion-card-subtitle>
          <ion-card-title>
            {{suggestion.beneficiary_name}}
            <ion-badge>{{suggestion.suggestion_unit}}</ion-badge>
          </ion-card-title>
        </ion-card-header>      
        <ion-card-content>
          <ng-container *ngIf="suggestion.suggestion_status=='SUGGESTED'">     
            <div class="notes">
              <ion-textarea rows="2" autoGrow="true" placeholder="Enter any notes here..." [(ngModel)]="notes[i]"></ion-textarea>      
            </div>
            <br>
            <ion-button color="danger" size="small" (click)="updateSuggestions(i,suggestion.beneficiary_registration_id,suggestion.suggestion_id,suggestion.suggestion_unit,'REJECTED')">Reject</ion-button>
            <ion-button color="primary" size="small" (click)="updateSuggestions(i,suggestion.beneficiary_registration_id,suggestion.suggestion_id,suggestion.suggestion_unit,'ACCEPTED')">Approve</ion-button>
          </ng-container>     
          <ng-container *ngIf="suggestion.suggestion_status!='SUGGESTED'">
            <ion-button color="success" size="small" *ngIf="suggestion.suggestion_status=='ACCEPTED'" mode="ios">ACCEPTED</ion-button>
            <ion-button color="danger" size="small" *ngIf="suggestion.suggestion_status=='REJECTED'" mode="ios">REJECTED</ion-button>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </ng-container>

  </div>
</ion-content>
