.message {
    padding: 5px;
    margin-bottom: 3.5vh;
    border-radius: 5px;
    white-space: pre-wrap;
}

.other-message {
    background: var(--ion-color-tertiary);
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    h6 {
        margin-top: 0px !important;
        font-weight: 800;
    }
    .time {
        float: left;
    }
}

.my-message {
    background: var(--ion-color-secondary);
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    h6 {
        margin-top: 0px !important;
        font-weight: 800;
    }
    .time {
        float: right;
    }
}

.time {
    font-style: italic;
    color: #c4c4c4;
    font-size: small;
}

.message-input {
    padding: 0px 5px 10px 5px;

    ion-textarea {
        width: 100%;
        border: 1px solid var(--ion-color-primary);
        border-radius: 5px;
        background: #ffffff;
        color: var(--ion-color-dark);
        resize: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}
