<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">View Activity</ion-title>
    <ion-buttons slot="end" >
      <ion-icon name="close-circle" size="large" (click)="dismissModal()"></ion-icon>
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customPage">
  <div class="customContent ion-padding">   
    <br>
    
    <div class="accordion-card" *ngIf="activityLogList">
      <ion-card *ngFor="let item of activityLogList;let i = index;">
        <ion-card-header class="accordion" (click)="toggleAccordian($event, i)">
          {{item.dateTime * 1000 | date:'medium'}}
        </ion-card-header>
        <ion-card-content class="panel" hide="!item.isActive">
          <ion-list *ngIf="item.periods.length>0">
            <ion-item-group class="ion-text-wrap" *ngFor="let period of item.periods[0] | keyvalue">
              <ion-item-divider color="light">{{period.key}}</ion-item-divider>
              <ng-container *ngIf="period.value">
                <ion-item *ngFor="let periodValue of period.value | keyvalue" lines="none">
                  {{periodValue.key}}
                  <h5 slot="end">{{periodValue.value}}</h5>
                </ion-item>
              </ng-container>
            </ion-item-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="!activityLogList">
      <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
      </div>
    </div>

  </div>
</ion-content>