<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-title class="ion-text-left">Profile</ion-title>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-icon class="ion-margin-end" name="eye" size="large"></ion-icon>
      <ion-icon routerLink="/menu/dashboard-beneficiary" routerDirection="root" class="ion-margin-end nav-icon" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customPage">
  <div class="customContent ion-padding">   
    <br>
  </div>
</ion-content>