<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">View Glucose</ion-title>
    <ion-buttons slot="end" >
      <ion-icon name="close-circle" size="large" (click)="dismissModal()"></ion-icon>
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customPage">
  <div class="customContent ion-padding">   
    <br>
    
    <div class="accordion-card" *ngIf="glucoseLogList">
      <ion-card *ngFor="let item of glucoseLogList;let i = index;">
        <ion-card-header class="accordion" (click)="toggleAccordian($event, i)">
          {{ item.dateTime | datetime }}
        </ion-card-header>
        <ion-card-content class="panel" hide="!item.isActive">
          <ion-list *ngIf="item.periods.length>0">
            <ng-container *ngFor="let period of item.periods[0] | keyvalue">
              <ion-item class="ion-text-wrap">
                {{period.key}}
                <h5 slot="end" [innerHTML]="period.value"></h5>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="!glucoseLogList">
      <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 80vw; height: 7.8vh" slot="start"></ion-skeleton-text><br>
      </div>
    </div>

  </div>
</ion-content>